@{
    ViewBag.Title = "Find Restaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    @using (Html.BeginForm("GetByOutCode", "Restaurants"))
    {
        <input type="text" name="OutCode" value="" placeholder="Enter postcode" required />
        <input type="submit" value="Find takeaways" />
    }
</div>

